/* RaceTrack Customization */
.headerMain {
    background-color: #48802c;
    color: #255b17;
    padding: 2em 1em 2em 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 500px;
}
a.header-main:link, a.header-main:visited {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}
.header-sub {
    color: #fff;
    font-size: 1.25em;
    font-style: italic;
}

#footer {
    font-size: 0.75em;
    font-style: italic;
    padding: 2em 1em 2em 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    clear: both;
}

#loginHeader {
    float: right;
    color: #fff;
}
#loginHeader a{
    color: #fff;
}